

<ion-header>
    <ion-toolbar>
     <!--<ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
     <ion-buttons  slot="end">
        <ion-button (click)="out()"> تسجيل خروج</ion-button>
      </ion-buttons>-->
      <ion-fab-button color="primary"(click)="out()" > <ion-icon name="log-out-outline"></ion-icon></ion-fab-button>

      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header>


<ion-content dir="rtl">



  
    <ion-card dir="ltr" *ngFor="let item of itemArray">

    
                <div *ngIf="item.uid === myUid" >
                    <ion-card-content>
    
                        <p >Name:  {{item.name}}</p> 
                          
                          <p >Skill:  {{item.skill}}</p> 
                         
                       
                          Business link:  <a href="{{item.link}}">{{item.link}}</a>
                     <br>
                     Telephone number:  {{item.phon}}
                     <br>
                       Email: <a href="mailto: {{item.email}}">{{item.email}}</a>
                     <br>
                     Notes:  {{item.nots}}
                    
                          <br>
                <button class="bbutton" type="button" uk-toggle="target: #modal-example" (click)="editForm(item.$key)">Edit</button>
                <button class="bbutton" (click)="onDelete(item.$key)" >Delete</button>
            </ion-card-content>

                <!-- This is the modal -->
<div id="modal-example" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
 
        <fieldset class="uk-fieldset">
 
            <div class="uk-margin">
                <input class="uk-input" type="text" placeholder="Name" name="name"   [(ngModel)]="data.name">
            </div>
           
            <div class="uk-margin">
                <input class="uk-input" type="text" placeholder="Skill" name="skill"  [(ngModel)]="data.skill">
            </div>
          
            <div class="uk-margin">
                <input class="uk-input" type="text" placeholder="Business link" name="link"  [(ngModel)]="data.link" >
            </div>
            <div class="uk-margin">
              <input class="uk-input" type="text" placeholder="Telephone number" name="phon"  [(ngModel)]="data.phon">
          </div>
         
            <div class="uk-margin">
                <textarea class="uk-textarea" rows="5" placeholder="Notes" name="nots"  [(ngModel)]="data.nots"></textarea>
            </div>
     
        </fieldset>
 
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">close</button>
            <button class="uk-button uk-button-primary" type="button" (click)="onEdit(item.$key)" >save</button>
        </p>
    </div>
</div>

</div>
</ion-card>
</ion-content>
