
<ion-content padding>
  <br>
 

   <div >
   
    
      <ion-input  style="font-family: Courier New;" [(ngModel)]='data.email' placeholder="Email"></ion-input>
     
  <br>
    <br>
        
      <ion-input style="font-family: Courier New;" [(ngModel)]='data.password'  placeholder="password" type="password"></ion-input>
     
    
  
    
  <br><br>
  
  
      <button ion-button block class="button"(click)="login()" >Sign in</button>
    &nbsp; &nbsp;
    <button ion-button block class="button"(click)="goToRegister()">Create an account</button>
  
    </div>
  
  
  
  
  </ion-content>