ion-content{
  --background: #fff url('../../assets/image/login.png') no-repeat center center / cover;
  }

 
.button {
    background-color: white;
    border: none;
    color: #2980B9;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 14px 12px;
    border-radius: 8px;
  }
  
  ion-input{
  border-radius: 8px;
  background-color: white;
  border: none;
  color: #2980B9;
  text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  
  div{
  --background: #fff;
  font-family: cairo;
  padding: 90px;
  margin-top: 200px;

}