

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col  size="12">


  <ion-card dir="ltr" *ngFor="let skillss of myObject ">

    
    <ion-card-content>
    
   <p >Name:  {{ skillss[1]['name']}}</p> 
     
     <p >Skill:  {{skillss[1]['skill']}}</p> 
    
  
     Business link:  <a href="{{skillss[1]['link']}}">{{skillss[1]['link']}}</a>
<br>
Telephone number:  {{skillss[1]['phon']}}
<br>
  Email:  <a href="mailto: {{skillss[1]['email']}}">{{skillss[1]['email']}}</a>
<br>
Notes:  {{skillss[1]['nots']}}
    </ion-card-content>
  </ion-card>



</ion-col>
</ion-row>
</ion-grid>




</ion-content>
