
<ion-content>
 

    <ion-card>
        <ion-card-content dir="rtl"> 
       <div padding >
          <h1 style="color: #CCAE64; padding: 5px; font-family: cairo; font-weight: bold; margin-bottom: 12px; font-size: 20pt; text-align: center;">اضافة مهارة</h1>
      
          
      <br><br>
          <ion-item class="transparentWhite">
          <ion-input style="font-family: Courier New;"  [(ngModel)]='data.name' placeholder=" الاسم  " type='text'></ion-input>
          </ion-item>
      
          
          <br>
          <ion-item class="transparentWhite">
            <ion-input style="font-family: Courier New;"  [(ngModel)]='data.skill' placeholder=" المهارة  " type='text'></ion-input>
          </ion-item>
      
          <br>
          <ion-item class="transparentWhite">
            <ion-input style="font-family: Courier New;"  [(ngModel)]='data.link' placeholder=" رابط اعمالك  " type='text'></ion-input>
          </ion-item>
      
          
          <br>
          <ion-item class="transparentWhite">
            <ion-input style="font-family: Courier New;"  [(ngModel)]='data.phon' placeholder=" رقم الهاتف  " type='text'></ion-input>
          </ion-item>
      
          <br>
          <ion-item class="transparentWhite">
            <ion-input style="font-family: Courier New;"  [(ngModel)]='data.email' placeholder=" البريد الالكتروني   " type='text'></ion-input>
          </ion-item>
      
          <br>
          <ion-item class="transparentWhite">
            <ion-input style="font-family: Courier New;"  [(ngModel)]='data.nots' placeholder=" ملاحظات  " type='text'></ion-input>
          </ion-item>
      
          

      
    
      <br>
      <button  class="button" (click)="insertSkill()" >اضافة</button>
      
      
      </div>
      
        </ion-card-content>
      </ion-card> 
      

</ion-content>
