
.button {
    background-color: #CCAE64;
    border: none;
    color: white;
    padding: 16px 46px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 6px 4px;
    cursor: pointer;
    border-radius: 8px;
font-family: cairo;
  }
  
  
  
  
  
  ion-card{
  --background: #fff
  
  }