
            
     <ion-content>
   

       <!-- -->

       
            <div *ngFor="let item of itemArray">

                <div *ngIf="item.uid === myUid" >
                    
        <div class="card">
            <img src="assets\image\perr.jpg" alt="image" style="width:100%">
            <h1>{{item.name}}</h1>
            <p class="title">{{item.skill}}</p>
            <p>{{item.phon}}</p>
            <p>{{item.email}}</p>
            <div style="margin: 24px 0;">
              
            </div>
            <div class="uk-card-footer">
                <a href="#" class="uk-button uk-button-text" uk-toggle="target: #modal-example" >تعديل</a>
        
               


       <!--   This is the modal -->
          <div id="modal-example" uk-modal>
          <div class="uk-modal-dialog uk-modal-body">
          
          <fieldset class="uk-fieldset">
          
              <div class="uk-margin">
                  <input class="uk-input" type="text" placeholder="name" name="name"   [(ngModel)]="data.name">
              </div>
              <div class="uk-margin">
                  <input class="uk-input" type="text" placeholder="skill " name="skill"  [(ngModel)]="data.skill">
              </div>
              <div class="uk-margin">
                  <input class="uk-input" type="text" placeholder="phon" name="phon"  [(ngModel)]="data.phon">
              </div>
              
              <div class="uk-margin">
                  <input class="uk-input" type="text" placeholder="email" name="email"  [(ngModel)]="data.email">
              </div>
        
          
          </fieldset>
          
          <p class="uk-text-right">
              <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
              <button class="uk-button uk-button-primary" type="button" (click)="onEdit(item.$key)" >Save</button>
          </p>
          </div>
          </div>
          
          
            </div>     

        </div>
    </div>
            </div>
    
    
<br><br>

<button class="button" type="button" (click)="myskill()" >مهاراتي</button>
<br><br>

<button class="button" type="button" (click)="out()" >خروج</button>

 
             

</ion-content>
